.app {
    padding: 20px;
}

.app h1,
.app h3 {
    text-transform: uppercase;
    text-align: center;
}

.app input {
    background: #252020;
    padding: 15px 20px;
    border-radius: .6rem;
    border: none;
    outline: none;
    color: #efefef;
    transition: all .228s ease;
}

.app input:focus {
    transform: scale(1.02, 1.02);
    letter-spacing: .1rem;
}

.app .details-prices-component {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    align-items: center;
}

.app .details-prices-component .total {
    border-radius: .4rem;
    padding: 10px;
}

.app .details-prices-component .total::before {
    content: 'Total: ';
}

.app button {
    transition: all .228s ease;
}

.app button:hover {
    letter-spacing: .1rem;
}

.app .data-grid th {
    text-transform: uppercase;
}

.app .data-grid th,
.app .data-grid td {
    border: 1px solid #0e0e0e;
    padding: 5px;
    text-align: center;
}

.app .data-grid tbody tr:nth-child(even) {
    background: #403f47;
}